[Unit]
Description=Python Security Toolkit Sniffer
After=network.target

[Service]
ExecStart=/usr/bin/python3 /home/jayalt/Documents/GitHub/SecurityToolkit/main.py sniff --forever --alert=email@example.com
WorkingDirectory=/home/jayalt/Documents/GitHub/SecurityToolkit
Restart=always
StandardOutput=append:/var/log/sniffer.log
StandardError=append:/var/log/sniffer.err
User=root

[Install]
WantedBy=multi-user.target
